<script>
  function checkForm(){
    if (!$('#my_fifa_team_team_name').val())
      return error_alert('Please enter a Team Name.')
    else
      return true;
  }
</script>

<%= form_for(@team, html: { class: 'ui large fluid centered form' }) do |f| %>
  <div class="fields">
    <div class="required fluid inline field">
      <%= f.label :team_name, 'Name' %>
      <%= f.text_field :team_name, required: true %>
    </div>
  </div>
  <div class="fields">
    <div class="required fluid inline field">
      <%= f.label :competitions, 'Competitions (One per line)' %>
      <%= f.text_area :competitions, value: @team.competition_options("\n"), rows: 10, class: 'form-control', required: true %>
    </div>
  </div>

  <%= f.submit 'Save Team', class: 'ui primary button', onclick: 'return checkForm()' %>
  <%= link_to 'Back', my_fifa_teams_path, class: 'ui basic button' %>
<% end %>
