<%= form_for(@team, as: :team, remote: true, html: { class: 'ui large fluid form' }) do |f| %>
  <div class="ui teal raised segment">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="required fluid inline field" no-empty>
          <%= f.label :team_name, 'Name' %>
          <%= f.text_field :team_name %>
        </div>
      </div>
      <% if @team.id.nil? %>
        <div class="sixteen wide column">
          <div class="required fluid inline field" no-empty>
            <%= f.label :current_date, 'Start Date' %>
            <%= f.text_field :current_date, data: { flatpickr: true } %>
          </div>
        </div>
      <% end %>
      <div class="sixteen wide column">
        <div class="required fluid inline field" no-empty>
          <%= f.label :competitions, 'Competitions (One per line)' %>
          <%= f.text_area :competitions, value: @team.competition_options("\n"), rows: 10, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui error message"></div>

  <%= f.submit 'Save Team', class: 'ui primary submit button' %>
  <%= link_to 'Back', @team, class: 'ui basic button' %>
<% end %>