<% content_for :page_links do %>
  <%= link_to 'New Team', new_my_fifa_team_path, class: 'ui basic primary button' %>
<% end %>

<table class="ui basic definition selectable compact small table" data-link="/my_fifa/teams/" width="100%">
  <thead>
    <th>Active</th>
    <th>Name</th>
    <th class="ten wide">Competitions</th>
  </thead>

  <tbody>
    <% current_user.teams.each do |team| %>
      <tr data-id=<%= team.id %>>
        <td class="center aligned" no-link>
          <div class="ui fitted slider checkbox">
            <%= radio_button_tag :set_current_team, team.id, current_user.team_id == team.id %>
            <label></label>
          </div>
        </td>
        <td><%= team.team_name %></td>
        <td>
          <%= responsive_cell_label 'Competitions' %>
          <%= team.competition_options(', ') %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('.ui.checkbox').checkbox({
      uncheckable: false,
      onChecked: function(){
        var this_ = this;
        $.ajax({
          type: 'POST',
          url: '/my_fifa/teams/'+this_.value+'/set_active',
          beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>') },
        });
      }
    })
  })
</script>