<div class="item">
  <div class="header">
    <i class="soccer icon"></i>
    MyFIFA Manager
  </div>
  <div class="menu">
    <%= link_to 'Teams',            my_fifa_teams_path,             class: 'item' %>
    <%= link_to 'Players',          my_fifa_players_path,           class: 'item' %>
    <%= link_to 'Squads',           my_fifa_squads_path,            class: 'item' %>
    <%= link_to 'Analytics',        players_my_fifa_analytics_path, class: 'item' %>
    <%= link_to 'Fixture Archives', my_fifa_fixtures_path,             class: 'item' %>
    <%= link_to 'Play a Fixture',   new_my_fifa_fixture_path,          class: 'item' %>  
  </div>
</div>
