<style>
  .form-group { margin-bottom: 0.2rem; }
  .table-container { overflow-x: scroll; }
  #records-table { min-width: 500px; }
</style>

<%= form_for(@game) do |f| %>
  <%= f.hidden_field :fixture_id %>

  <%= render 'game_fields', f: f %>

  <div class="panel panel-default">
  <div class="panel-body table-container">
    <table id="records-table" class="table table-sm table-hover">
      <thead class="thead-inverse">
        <tr>
          <th style="width:15%"></th>
          <th style="width:40%">Name</th>
          <th style="width:15%">Rating</th>
          <th style="width:15%">Goals</th>
          <th style="width:15%">Assists</th>
        </tr>
      </thead>
      <tbody>
        <% @game.player_records.each_with_index do |record, i| %>
          <%= f.fields_for :player_records, record do |r| %>
            <tr><%= render 'record_fields', f: r, i: i+3 %></tr>
          <% end %>
        <% end %>

        <tr id="record-template" class="hidden">
          <%= f.fields_for :player_records, Cmsk::PlayerRecord.new do |r| %>
            <%= render 'record_fields', f: r, i: 1000 %>
          <% end %>
        </tr>        
      </tbody>
    </table>

    <!--<div id="add-record" class="collapse text-xs-center">-->
    <div class="text-center">
      <a class="button button-small button-raised button-action" id="add-sub-btn">
        <%= fa_icon 'plus', text: 'SUB' %>
      </a>
      <a class="button button-small button-raised button-caution" id="remove-sub-btn">
        <%= fa_icon 'minus', text: 'SUB' %>
      </a>
    </div>
  </div>
  </div>

  <div class="text-center">
    <%= f.submit 'Save Game', class: 'button button-raised button-highlight', onclick: 'return checkForm()' %>
    <%= content_tag 'button', 'Update Squad', class: 'button button-raised button-primary', id: 'update-squad-btn', disabled: true %>
    <%= link_to 'Back', games_path, class: 'button button-raised' %>
  </div>
<% end %>

<script>
  var num_subs = <%= @game.player_records.length - 11 %>;

  $(function(){
    $('.click-form').each(function(){ toggleClickForm($(this), $(this).hasClass('required')); });
    $('#add-sub-btn').click(function(){ addRecord(); });
    $('#remove-sub-btn').click(function(){
      if (num_subs > 0){
        $('#records-table tbody tr:last').remove();
        num_subs--;
      }
    });
    
    $('#squad').change(function(){
      if ($('#squad').val()){
        $.get("/cmsk/squads/"+$('#squad').val()+"/players_json", function(data){
          $.each(data.players, function(i, player){
            var row = $('#game_player_records_attributes_'+i+'_pos').closest('tr');
            row.find('select[id$="player_id"]').val(player.id);
          });
        });
        $('#update-squad-btn').attr('disabled', false);
      } else
        $('#update-squad-btn').attr('disabled', true);
    });

    $('#update-squad-btn').click(function(){
      var squadId = $('#squad').val();

      var rows = $('#records-table tbody tr');
      var squadParams = {};
      for(var i=0; i < 11; i++){
        squadParams['player_id_'+(i+1)] = $('.player_id', $(rows[i])).val();
      }

      $.ajax({
        url: '/cmsk/squads/'+squadId,
        type: 'PUT',
        beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>')},
        data: { squad: squadParams },
        statusCode: {
          500: function(){ swal('Error', 'Attempt to update the Squad failed.', 'error'); }
        }
      }).then(function(){
        swal('Success', 'Squad has been updated to the current lineup.', 'success');
      });
    });
  });

  function checkForm(){
    if (!$('#game_opponent').val())
      return error_alert('Please enter an Opponent Team.')  
    else if (!$('#game_competition').val())
      return error_alert('Please enter a Competition.')
    else
      return true;
  }
  
  function toggleClickForm(target, required=false){
    $(target).click(function(){
      var value = parseInt($(target).val(), 10);
      $(this).val(isNaN(value) ? 1 : value+1);
    });
    $(target).on('swiperight', function(event){
      var value = parseInt($(target).val(), 10);
      $(this).val(isNaN(value) ? 1 : value+1);
    });
    $(target).contextmenu(function(event){
      event.preventDefault();
      var value = parseInt($(target).val(), 10);
      $(this).val((isNaN(value) || value == 1 || value == 0) ? (required ? 0 : null) : value-1);
    });
    $(target).on('swipeleft', function(event){
      event.preventDefault();
      var value = parseInt($(target).val(), 10);
      $(this).val((isNaN(value) || value == 1 || value == 0) ? (required ? 0 : null) : value-1);      
    });
  }

  function addRecord(){
    // Generate new Record table row
    var record = $('<tr/>');
    record.append($('#record-template').html().
      replace(/game\[player\_records\_attributes\]\[\d+\]/g, 'game[player_records_attributes]['+(num_subs+100)+']').
      replace(/game\_player\_records\_attributes\_\d+/g, 'game_player_records_attributes_'+(num_subs+100)));
    $('.pos', record).val('SUB '+(++num_subs));

    // Append new row to table
    $('#records-table tbody').append(record);

    // Activate jQuery event listeners
    $('.click-form', $(record)).each(function(){
      toggleClickForm($(this));
    });
  }  
</script>