<div class="form-group row">
  <%= f.label :opponent, 'Opponent Team: ', class: 'col-xs-4 col-md-offset-2 control-label' %>
  <div class="col-md-4 col-xs-8">
    <%= f.text_field :opponent, class: 'form-control', tabindex: 1 %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :competition, 'Competition: ', class: 'col-xs-4 col-md-offset-2 control-label' %>
  <div class="col-md-4 col-xs-8">
    <%#= f.select :competition, options_for_select(@team.competition_options, @game.competition), {include_blank: true}, {class: 'form-control', tabindex: 2} %>
    <%= f.text_field :competition, class: 'form-control', tabindex: 2 %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-2 col-md-offset-3 col-xs-4">
    <%= f.number_field :score_gf, class: 'click-form required form-control text-center', min: 0, readonly: true, value: (@game.id.nil? ? 0 : @game.score_gf) %>
  </div>
  <div class="control-label text-center col-md-2 col-xs-4">GF - GA</div>
  <div class="col-md-2 col-xs-4">
    <%= f.number_field :score_ga, class: 'click-form required form-control text-center', min: 0, readonly: true, value: (@game.id.nil? ? 0 : @game.score_ga) %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-2 col-md-offset-3 col-xs-4">
    <%= f.number_field :penalties_gf, class: 'click-form form-control text-center', min: 0, readonly: true, value: @game.penalties_gf.presence %>
  </div>
  <div class="control-label text-center col-md-2 col-xs-4">Penalties</div>
  <div class="col-md-2 col-xs-4">
    <%= f.number_field :penalties_ga, class: 'click-form form-control text-center', min: 0, readonly: true, value: @game.penalties_ga.presence %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :date_played, 'Date Played: ', class: 'col-xs-4 col-md-offset-2 control-label' %>
  <div class="col-md-4 col-xs-8">
    <%= f.text_field :date_played, value: (@game.id.nil? ? @last_played : @game.date_played), class: 'form-control datepicker' %>
  </div>
</div>
<% if @game.id.blank? %>
  <div class="form-group row">
    <%= label_tag :squad, 'Squad: ', class: 'col-xs-4 col-md-offset-2 control-label' %>
    <div class="col-md-4 col-xs-8">
      <%= select_tag :squad, options_for_select(@team.squads.map{ |s| [s.squad_name, s.id] }), include_blank: true, class: 'form-control' %>
    </div>
  </div>
<% end %>