<h2 class="ui violet header">
  <div class="content">Edit <%= current_user.full_name %></div>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui large form attached fluid violet segment' }) do |f| %>

  <h4 class="ui top attached olive header">Account Information</h4>
  <div class="ui bottom attached olive segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="address book icon"></i>
        <%= f.text_field :full_name, class: 'form-control', required: true, placeholder: 'Name' %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <%= f.text_field :username, class: 'form-control', required: true, readonly: true, placeholder: 'Username' %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="mail icon"></i>
        <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Email Address' %>
      </div>
    </div>
  </div>

  <h4 class="ui top attached red header">Change Password</h4>
  <div class="ui bottom attached red segment">
    <div class="field">
      <em>NOTE: Leave Blank if No Password Change</em>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password (#{ @minimum_password_length} characters minimum)" %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Changes with Current Password' %>
    </div>
  </div>

  <%= f.submit "Update Account", class: 'ui fluid violet submit button' %>

<% end %>
