<table id="stage_<%= stage.id %>" class="data-table table table-hover">
  <thead>
    <th class="col-xs-2">Home</th>
    <th class="col-xs-2" no-sort no-filter>GH</th>
    <th class="col-xs-1" no-sort no-filter> - </th>
    <th class="col-xs-2" no-sort no-filter>GA</th>
    <th class="col-xs-2">Away</th>
    <th class="col-xs-2">Date Played</th>
    <th class="col-xs-1" no-sort no-filter><!-- Actions --></th>
  </thead>
  <tbody>
    <% stage.fixtures.with_game.each do |fixture| %>
      <tr data-id=<%= fixture.id %>>
        <td><%= fixture.home %></td>
        <td><%= text_field_tag :home_score, fixture.home_score, class: 'form-control full-score', disabled: fixture.user_team_playing %></td>
        <td> - </td>
        <td><%= text_field_tag :away_score, fixture.away_score, class: 'form-control full-score', disabled: fixture.user_team_playing %></td>
        <td><%= fixture.away %></td>
        <td>
          <%= text_field_tag :date_played, time_to_string(fixture.date_played, '%B %e, %Y'), class: "form-control #{'datepicker' unless fixture.user_team_playing}" %>
        </td>
        <td>
          <% if fixture.user_team_playing %>
            <!-- Link to new Game or existing Game -->
            <%= fixture.game_exists ?
              link_to('View Game', fixture.game, class: 'btn btn-block btn-primary', target: '_blank') :
              link_to('Play Game', new_game_path(fixture: fixture.id), class: 'btn btn-block btn-danger', target: '_blank') %>
          <% else %>
            <button class="update-btn btn btn-block btn-warning" disabled>Update</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('table#stage_<%= stage.id %>').on('input', 'input', function(){
      var tr = $(this).closest('tr');
      var empty = false;
      $('input', tr).each(function(){
        if (!$(this).val())
          empty = true;
      })

      $('.update-btn', tr).prop('disabled', empty);
    });

    $('table#stage_<%= stage.id %>').on('click', '.update-btn', function(){
      var tr = $(this).closest('tr');
      var id = tr.data('id');
      if (id && !$(this).prop('disabled'))
        $.ajax({
          url: '/cmsk/fixtures/'+id,
          type: 'PUT',
          data: { 
            fixture: {
              home_score: $('#home_score', tr).val(),
              away_score: $('#away_score', tr).val(),
              date_played: $('#date_played', tr).val()
            }
          }
        })
    })
  })
</script>