<%= f.hidden_field :team_id %>
<div class="panel panel-default" data-id=<%= f.object.id %>>
  <div class="panel-heading">
    <div class="panel-title">
      Stage
      <a class="rem-btn btn btn-danger pull-right">X</a>
      <%= f.hidden_field :_destroy %>
    </div>
  </div>
  <div class="panel-body">
    <div class="form-group row">
      <%= f.label :category, 'Type: ', class: 'col-sm-3 control-label' %>
      <div class="col-sm-3">
        <%= f.select :category, options_for_select(Cmsk::Stage::CATEGORIES, f.object.category), {}, {class: 'form-control'} %>
      </div>
      <%= f.label :num_plays, 'Games Played per Fixture: ', class: 'col-sm-3 control-label' %>
      <div class="col-sm-3">
        <%= f.select :num_plays, options_for_select([1,2], f.object.num_plays), {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :opponents, 'Opponents: ', class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_area :opponents, value: (f.object.opponents.join("\n") rescue ''), rows: 2, placeholder: "One Opponent Team per line", class: 'form-control' %>
      </div>
    </div>

  </div>
</div>