<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= "Stage#{ " - #{stage.title}" unless stage.title.blank? }" %></div>
  </div>
  <div class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="form-group row">
        <%= label_tag :category, 'Type: ', class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">

          <%= text_field_tag :category, stage.category, class: 'form-control', readonly: true %>
        </div>
        <%= label_tag :num_plays, 'Games Played per Fixture: ', class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= text_field_tag :num_plays, stage.num_plays, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= label_tag :opponents, 'Teams: ', class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= text_area_tag :opponents, stage.opponents.join("\n"), rows: 2, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <%= render 'fixtures', stage: stage %>
        </div>
      </div>
    </div>
  </div>
</div>