<style>
  table th, tr, td {
    vertical-align: middle !important;
    text-align: center;
  }
</style>

<div class="form-group text-right">
  <%= link_to 'Edit', edit_competition_path(@competition), class: 'button button-raised button-highlight' %>
  <%= link_to 'Back', competitions_path, class: 'button button-raised' %>
</div>

<div class="form-group row">
  <%= label_tag :title, 'Competition: ', class: 'col-sm-4 col-sm-offset-2 control-label' %>
  <div class="col-sm-4">
    <%= text_field_tag :title, @competition.title, class: 'form-control', readonly: true %>
  </div>
</div>

<div class="form-group row">
  <%= label_tag :season, 'Season: ', class: 'col-sm-4 col-sm-offset-2 control-label' %>
  <div class="col-sm-4">
    <%= text_field_tag :season, @competition.season, class: 'form-control', readonly: true %>
  </div>
</div>

<div id="stages" class="panel-group">
  <% @competition.stages.each do |stage| %>
    <%= render 'stage', stage: stage %>
  <% end %>
</div>

<script>
  var lastPickedDate = null;

  $(function(){    
    $('form').dirtyForms();
  });
</script>