<%= form_for(@player, as: :player, html: { class: 'ui large fluid form' }) do |f| %>
  <div class="ui raised teal segment">
    <div class="ui stackable grid">
      <div class="equal width row">
        <div class="column">
          <div class="required field">
            <%= f.label :name %>
            <%= f.text_field :name, required: true %>
          </div>
        </div>
      </div>
      <div class="equal width row">
        <div class="column">
          <div class="required field">
            <%= f.label :pos, 'Position' %>
            <%= f.select :pos, 
              options_for_select(MyFifa::Player.positions, @player.pos), 
              {prompt: true}, 
              {class: 'fluid dropdown', required: true} %>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <%= f.label :sec_pos, 'Secondary Position(s)' %>
            <%= f.text_field :sec_pos, class: 'form-control' %>
          </div>
        </div>
        <div class="column">
          <div class="required field">
            <%= f.label :start_ovr, 'Start OVR Rating' %>
            <%= f.text_field :start_ovr, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit 'Save Player', class: 'ui primary button' %>
  <%= link_to 'Back', @player, class: 'ui basic button' %>
<% end %>
