<%= render 'import_csv' %>

<%= content_for :page_links do %>
  <%= link_to 'New Player', new_my_fifa_player_path, class: 'ui basic primary button' %>
  <a class="ui basic olive button" id="import-csv-btn">Import CSV</a>
<% end %>

<table class="ui celled basic definition sortable selectable compact small table">
  <thead>
    <tr class="center aligned">
      <% ['Name', 'Position', 'OVR', 'Actions'].each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @all_players.each do |player| %>
      <tr class="center aligned">
        <td>
          <%= content_tag(:i, nil, class: 'red attention icon') if !player.active %>
          <%= player.name %>
        </td>
        <td class="<%= 'disabled' if !player.active %>"><%= player.pos %></td>
        <td class="<%= 'disabled' if !player.active %>"><%= player.current_ovr %></td>
        <td>
          <div class="ui left pointing dropdown circular teal icon button">
            <i class="settings icon"></i>
            <div class="fluid menu">
              <%= link_to(player, class: 'item') do %>
                <i class="user icon"></i> View
              <% end %>
              <% if player.active %>
                <%= link_to(edit_my_fifa_player_path(player), class: 'item') do %>
                  <i class="edit icon"></i> Edit
                <% end %>
                <%= link_to(exit_my_fifa_player_path(player), method: :post, "data-confirm" => "#{player.name} is leaving #{@team.team_name}?", class: 'item') do %>
                  <i class="sign out icon"></i> Exit
                <% end %>
              <% else %>
                <%= link_to(sign_my_fifa_player_path(player), method: :post, "data-confirm" => "#{player.name} is resigning to #{@team.team_name}?", class: 'item') do %>
                  <i class="sign in icon"></i> Sign
                <% end %>                
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('table').DataTable({
      order: [],
      rowCallback: function(row, data){
        $('.ui.dropdown').dropdown();
      }
    });
  })
</script>
