<%= content_for :page_links do %>
  <%= link_to 'New Player', new_my_fifa_player_path, class: 'ui basic primary button' %>
<% end %>

<table class="ui basic definition sortable selectable compact small table" data-link="/my_fifa/players/" width="100%">
  <thead>
    <tr class="center aligned">
      <% ['Name', 'Position', 'OVR'].each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @all_players.each do |player| %>
      <tr data-id=<%= player.id %> class="center aligned">
        <td>
          <%= content_tag(:i, nil, class: 'red attention icon') if !player.active %>
          <%= player.name %>
        </td>
        <td class="<%= 'disabled' if !player.active %>" data-sort="<%= player.pos %>">
          <%= responsive_cell_label 'Positions' %>
          <%= player.pos %>    
        </td>
        <td class="<%= 'disabled' if !player.active %>" data-sort=<%= player.current_ovr %>>
          <%= responsive_cell_label 'OVR' %>
          <%= player.current_ovr %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('table').DataTable({
      order: [],
    });
  })
</script>
