<script>
  function checkForm(){
    if (!$('#my_fifa_player_name').val())
      return error_alert('Please enter a Name.')  
    else if (!$('#my_fifa_player_pos').val())
      return error_alert('Please enter a Position.')
    else
      return true;
  }
</script>

<%= form_for(@player, html: { class: 'ui large fluid form' }) do |f| %>
  <div class="fields">
    <div class="inline required field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="inline required field">
      <%= f.label :pos, 'Position' %>
      <%= f.select :pos, options_for_select(MyFifa::Player.positions, @player.pos), {prompt: true}, {class: 'dropdown'} %>
    </div>
    <div class="inline field">
      <%= f.label :sec_pos, 'Secondary Position(s)' %>
      <%= f.text_field :sec_pos, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Save Player', class: 'ui primary button', onclick: 'return checkForm()' %>
  <%= link_to 'Back', my_fifa_players_path, class: 'ui basic button' %>
<% end %>
