<% content_for :page_links do %>
  <%= link_to('Edit', edit_my_fifa_player_path(@player), class: 'ui orange button') if @player.active? %>
  <%= link_to 'Back', my_fifa_players_path, class: 'ui basic button' %>
<% end %>

<div class="ui pointing secondary menu" data-menu="tabs">
  <div class="item" data-tab="info">Information</div>
  <div class="active item" data-tab="manage">Manage</div>
  <div class="item" data-tab="analytics">Analytics</div>
</div>

<div class="ui basic tab segment" data-tab="info">
  <div class="ui raised teal segment">
    <!-- Information Section -->
    <%= render 'my_fifa/players/fields/info' %>

    <!-- Statistics Section -->
    <%= render 'my_fifa/players/fields/stats' %>

    <!-- Transfer Section -->
    <%= render 'my_fifa/players/fields/transfer' %>
  </div>
</div>

<!-- Management Section -->
<div class="ui active basic tab segment" data-tab="manage">
  <%= render @player.active ? 
    'my_fifa/players/manage/active' :
    'my_fifa/players/manage/inactive' %>
</div>

<div class="ui basic tab segment" data-tab="analytics">
  <div class="ui raised olive segment">
    <!-- Analytics Section -->
    <%= render 'my_fifa/players/fields/analytics' %>
  </div>
</div>

<script>
  <%= render 'my_fifa/charts/player_performance.js' %>

  $(function(){
    <% if params[:tab] %>
      $('.item[data-tab="<%= params[:tab] %>"]')
        .tab('change tab', '<%= params[:tab] %>');
    <% end %>
  })
</script>

<%= content_for :modal_container do %>
  <%= render 'responsive_modals' %>
<% end %>