<% content_for :page_links do %>
  <%= link_to 'Edit', edit_my_fifa_player_path(@player), class: 'ui orange button' %>
  <%= link_to 'Back', my_fifa_players_path, class: 'ui basic button' %>
<% end %>

<div class="ui raised teal segment">
  <div class="ui dividing header">
    Player Information
  </div>
  <div class="ui stackable grid">
    <div class="row">
      <div class="six wide column">
        <div class="ui header">
          <%= @player.pos %>
          <div class="sub header">Position</div>    
        </div>
      </div>
      <div class="ten wide column">
        <div class="ui header">
          <%= @player.sec_pos.blank? ? 'N/A' : @player.sec_pos %>
          <div class="sub header">Secondary Position(s)</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui dividing header">
    Statistics
  </div>
  <div class="ui stackable grid">
    <div class="four columns centered row">
      <div class="aligned column">
        <div class="ui grey statistic">
          <div class="label">Start OVR</div>
          <div class="value"><%= @player.start_ovr %></div>
        </div>
      </div>
      <div class="aligned column">
        <div class="ui green statistic">
          <div class="label"><%= @player.active ? 'Current' : 'Last' %> OVR</div>
          <div class="value"><%= @player.current_ovr %></div>
        </div>
      </div>
    </div>

    <div class="five columns centered row">
      <% @stats.each do |stat| %>
        <div class="aligned column">
          <div class="ui <%= stat[:color] %> statistic">
            <div class="value"><%= @player.public_send(stat[:type]) %></div>
            <div class="label"><%= stat[:label] %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ui raised olive segment">
  <div class="ui dividing header">
    OVR Rating
  </div>

  <%= line_chart @player.records.map{ |r| [r.fixture.date_played.strftime('%F'), r.ovr ] },
    id: 'ovr-chart',
    min: 50, max: 100,
    library: {
      chart: { zoomType: 'x' },
      tooltip: { pointFormat: 'OVR: <b>{point.y}</b>' }
    } %>

  <div class="ui dividing header">
    Performance
  </div>

  <%= line_chart @player.records.map{ |r| [ r.fixture.date_played.strftime('%F'), r.rating ] },
    id: 'ratings-chart',
    min: 5, max: 10, 
    library: {
      chart: { zoomType: 'x' },
      tooltip: { pointFormat: 'Rating: <b>{point.y}</b>' }
    } %>
</div>

<script>
  <%= render 'my_fifa/charts/player_performance.js' %>
</script>