<!DOCTYPE html>
<html>
<head>
  <title>JoonDEV - CMSK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <style>
    body {
      background: #c2d6d6;
      background: linear-gradient(150deg, #c2d6d6, #99b3ff);
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    @media (min-width: 576px){ .container{ min-width: 540px; width: 95%; } }
    @media (min-width: 768px){ .container{ min-width: 760px; width: 95%; } }
    @media (min-width: 992px){ .container{ min-width: 960px; width: 95%; } }
    
    *:not(.swal2-icon):not(.placeholder):not(.swal2-confirm):not(.flatpickr-day) {
      font-family: 'Crimson Text', serif;
      border-radius: 0px;
    }
    .glyphicon{ font-size: 1.3em; }
    .mt10 { margin-top: 10px; }
    .mb10 { margin-bottom: 10px; }
    .main-brand {
      font-size: 24px;
      color: #527a7a !important;
      text-shadow: 1px 1px 1px black;
    }
    #cmsk-navbar { margin-top: -20px; }
    .page-header{ border-bottom: 1px solid #527a7a; margin-top: 0px;}
    #cmsk-content a:not(.btn-default) { color:white; }
    .thead-inverse th { background-color: #292b2c; color: white; }
    .control-label { text-align: left; padding-top: 7px; }
  </style>
  
  <script>
    function error_alert(msg){
      swal("Invalid <%=params[:controller].split('/').last.singularize.capitalize %>", msg, 'error')
      return false;
    }
  </script>
</head>
<body>
  <%= render 'shared/navbar' %>

  <% if @module.present? %>
    <nav class="navbar navbar-default" id="cmsk-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= content_tag :a, 'Career Mode Stat Keeper', class: 'navbar-brand' %>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cmsk-navbar-menu">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="cmsk-navbar-menu">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Teams', teams_path %></li>
            <li><%= link_to 'Players', players_path %></li>
            <li><%= link_to 'Squads', squads_path %></li>
            <li><%= link_to 'Analytics', players_analytics_path %></li>
            <li><%= link_to 'Competitions', competitions_path %></li>
            <li><%= link_to 'Game Archives', games_path %></li>
            <!-- <li><%#= link_to 'Play a Game', new_game_path %></li> -->
          </ul>
        </div>

      </div>
    </nav>

      
    <div class="container">
      <div class="col-xs-12">
        <div class="panel panel-primary" id="cmsk-content">
          <div class="panel-heading"><%= params[:controller].split('/').last.capitalize %></div>
          <div class="panel-body">
            <div class="page-header">
              <h4><%= @page.present? ?  "#{@team.team_name} - #{@page}" : @title %></h4>
            </div>
            <div class="mt10">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
  <% else %>
    <%= yield %>
  <% end %>
  </div>
</body>
</html>
