<!DOCTYPE html>
<html>
<head>
  <title>JoonDEV - CMSK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  
  <script>
    function error_alert(msg){
      swal("Invalid <%=params[:controller].split('/').last.singularize.capitalize %>", msg, 'error')
      return false;
    }
  </script>
</head>
<body>
  <%= render 'shared/navbar' %>

  <% if @module.present? %>
    <nav class="navbar navbar-default" id="cmsk-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= content_tag :a, 'Career Mode Stat Keeper', class: 'navbar-brand' %>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cmsk-navbar-menu">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="cmsk-navbar-menu">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Teams', teams_path %></li>
            <li><%= link_to 'Players', players_path %></li>
            <li><%= link_to 'Squads', squads_path %></li>
            <li><%= link_to 'Analytics', players_analytics_path %></li>
            <li><%= link_to 'Competitions', competitions_path %></li>
            <li><%= link_to 'Game Archives', games_path %></li>
            <!-- <li><%#= link_to 'Play a Game', new_game_path %></li> -->
          </ul>
        </div>

      </div>
    </nav>

      
    <div class="container">
      <div class="col-xs-12">
        <div class="panel panel-primary" id="cmsk-content">
          <div class="panel-heading"><%= params[:controller].split('/').last.capitalize %></div>
          <div class="panel-body">
            <div class="page-header">
              <h4><%= @page.present? ?  "#{@team.team_name} - #{@page}" : @title %></h4>
            </div>
            <div class="mt10">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
  <% else %>
    <%= yield %>
  <% end %>
  </div>
</body>
</html>
