<!DOCTYPE html>
<html>
<head>
  <title>JoonDEV - CMSK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <style>
    body {
      background: #c2d6d6;
      background: linear-gradient(150deg, #c2d6d6, #99b3ff);
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    @media (min-width: 576px){ .container{ min-width: 540px; width: 95%; } }
    @media (min-width: 768px){ .container{ min-width: 760px; width: 95%; } }
    @media (min-width: 992px){ .container{ min-width: 960px; width: 95%; } }
    
    *:not(.swal2-icon):not(.placeholder):not(.swal2-confirm):not(.flatpickr-day) {
      font-family: 'Crimson Text', serif;
      border-radius: 0px;
    }
    .glyphicon{ font-size: 1.3em; }
    .mt10 { margin-top: 10px; }
    .mb10 { margin-bottom: 10px; }
    .main-brand {
      font-size: 32px;
      float:none;
      color: #527a7a !important;
      text-shadow: 1px 1px 1px black;
    }
    .page-header{ border-bottom: 1px solid #527a7a; }
    #cmsk-content a:not(.btn-secondary) { color:white; }
  </style>
  
  <script>
    function error_alert(msg){
      swal("Invalid <%=params[:controller].split('/').last.singularize.capitalize %>", msg, 'error')
      return false;
    }
  </script>
</head>
<body>
  <%= render 'shared/navbar' %>

  <% if @module.present? %>
    <nav class="navbar navbar-light navbar-toggleable-md bg-faded" id="cmsk-navbar">
      <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#cmsk-options"></button>
      <%= content_tag :a, 'Career Mode Stat Keeper', class: 'navbar-brand' %>
      <div class="collapse navbar-toggleable-sm" id="cmsk-options">
        <ul class="nav navbar-nav">
          <li class="nav-item"><%= link_to 'Teams', teams_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Players', players_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Squads', squads_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Game Archives', games_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Play a Game', new_game_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
      
    <div class="container">
      <div class="col-xs-12">
        <div class="card card-outline-primary mt10" id="cmsk-content">
          <div class="card-header card-primary text-xs-center" style="color: white;"><%= params[:controller].split('/').last.capitalize %></div>
          <div class="card-block" style="background: white">
            <div class="page-header">
              <h4><%= @title %></h4>
            </div>
            <div class="mt10">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
  <% else %>
    <%= yield %>
  <% end %>
  </div>
</body>
</html>
