<div class="item">
  <div class="header">
    MyFIFA Manager
  </div>
  <div class="menu">
    <%= link_to 'Teams',         teams_path, class: 'item' %>
    <%= link_to 'Players',       players_path, class: 'item' %>
    <%= link_to 'Squads',        squads_path, class: 'item' %>
    <%= link_to 'Analytics',     players_analytics_path, class: 'item' %>
    <%= link_to 'Seasons',       seasons_path, class: 'item' %>
    <%= link_to 'Game Archives', games_path,   class: 'item' %>
    <%= link_to 'Play a Game',   new_game_path, class: 'item' %>  
  </div>
</div>
