<%= form_for(@season, as: :season, remote: true, html: { class: 'ui large fluid form' }) do |f| %>
  <div class="ui raised teal segment">
    <div class="ui dividing header">
      Season Information
    </div>
    <div class="ui stackable grid">
      <div class="equal width row">
        <div class="column">
          <div class="required field" no-empty>
            <%= f.label :start_date, 'Start Date' %>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <%= f.text_field :start_date, data: { flatpickr: true } %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="required field" no-empty>
            <%= f.label :end_date, 'End Date' %>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <%= f.text_field :end_date, data: { flatpickr: true } %>
            </div>
          </div>
        </div>
      </div>

      <div class="equal width row">
        <div class="column">
          <div class="required field" no-empty>
            <%= f.label :start_club_worth, 'Club Worth (Start of Season)' %>
            <div class="ui left icon input">
              <i class="money icon"></i>
              <%= f.number_field :start_club_worth %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <%= f.label :end_club_worth, 'Club Worth (End of Season)' %>
            <div class="ui left icon input">
              <i class="money icon"></i>
              <%= f.number_field :end_club_worth %>
            </div>
          </div>
        </div>
      </div>

      <div class="equal width row">
        <div class="column">
          <div class="required field" no-empty>
            <%= f.label :transfer_budget, 'Transfer Budget' %>
            <div class="ui left icon input">
              <i class="money icon"></i>
              <%= f.number_field :transfer_budget %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="required field" no-empty>
            <%= f.label :wage_budget, 'Wage Budget' %>
            <div class="ui left icon input">
              <i class="money icon"></i>
              <%= f.number_field :wage_budget %>
            </div>
          </div>
        </div>
      </div>

      <div class="equal width row">
        <div class="column">
          <div class="required field" no-empty>
            <%= f.label :captain_id, 'Captain' %>
            <div class="ui left icon input">
              <i class="money icon"></i>
              <%= f.select :captain_id,
                grouped_options_for_select(@team.grouped_players, f.object.captain_id),
                { include_blank: true },
                { class: 'fluid dropdown' } %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%= f.submit 'Save Season', class: 'ui primary button' %>
  <%= link_to 'Back', @season, class: 'ui basic button' %>
<% end %>
