<style>
  .form-group { margin-bottom: 0.2rem; }
</style>

<%= form_for(@squad) do |f| %>
  <div class="form-group row">
    <%= f.label :squad_name, 'Name: ', class: 'col-xs-2 control-label' %>
    <div class="col-xs-10">
      <%= f.text_field :squad_name, class: 'form-control' %>
    </div>
  </div>
  <% (1..11).each do |no| %>
    <div class="form-group row">
      <%= f.label "player_id_#{no}".to_sym, "#{Cmsk::Squad.positions[no-1]}: ", class: 'col-xs-2 control-label' %>
      <div class="col-xs-10">
        <%= f.select "player_id_#{no}", options_for_select(@sorted_players.map{ |p| ["#{p.pos} - #{p.name}", p.id] }, @squad.send("player_id_#{no}")), {include_blank: true}, {class: 'form-control player-field'} %>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <hr>
    <%= f.submit 'Save Squad', class: 'button button-raised button-highlight', onclick: 'return checkForm()' %>
    <%= link_to 'Back', squads_path, class: 'button button-raised' %>
  </div>
<% end %>

<script>
  function checkForm(){
    if (!$('#squad_squad_name').val())
      return error_alert('Please enter a Name.')  
    else{
      <% if @squad.id.present? %>
        var squadParams = { squad_name: $('#squad_squad_name').val() };
        for(var i=0; i < 11; i++)
          squadParams['player_id_'+(i+1)] = $('#squad_player_id_'+(i+1)).val();

        $.ajax({
          url: '<%= cmsk.squad_path(@squad) %>',
          type: 'PUT',
          beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>')},
          data: { squad: squadParams },
          statusCode: {
            500: function(){ swal('Error', 'Attempt to update the Squad failed.', 'error'); }
          }
        }).then(function(){
          swal('Success', 'Squad has been updated.', 'success');
        })

        return false;
      <% else %>
        return true;
      <% end %>
    }
  }
</script>