<div class="ui dividing header">
  Statistics
</div>

<div class="ui stackable grid">
  <div class="four columns centered row">
    <div class="aligned column">
      <div class="ui grey statistic">
        <div class="label">Start OVR</div>
        <div class="value"><%= @player.start_ovr %></div>
      </div>
    </div>
    <div class="aligned column">
      <div class="ui green statistic">
        <div class="label"><%= @player.active ? 'Current' : 'Last' %> OVR</div>
        <div class="value"><%= @player.current_ovr %></div>
      </div>
    </div>
  </div>

  <div class="five columns centered row">
    <% @stats.each do |stat| %>
      <div class="aligned column">
        <div class="ui <%= stat[:color] %> statistic">
          <div class="value"><%= @player.public_send(stat[:type]) %></div>
          <div class="label"><%= stat[:label] %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>