<div class="ui dividing header">
  Transfer Information
</div>
<% if @player.youth? %>
  <div class="ui stackable grid">
    <div class="equal width row">
      <div class="column">
        <div class="ui header">
          Class of <%= @player.date_joined.strftime('%Y') %>
          <div class="sub header">Youth Academy Graduate</div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<table class="ui compact basic small table" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Origin</th>
      <th>Date</th>
      <th>Transfer Fee</th>
    </tr>
  </thead>
  <tbody>
    <% @player.contracts.each_with_index do |contract, i| %>
      <tr>
        <td class="center aligned" rowspan="<%= contract.transfer_cost.notes.present? ? 2 : 1 %>">
          <%= @player.youth? && i == 0 ?
            content_tag(:i, nil, class: "green university icon") :
            content_tag(:i, nil, class: "green sign in icon") %>
        </td>
        <td>
          <%= responsive_cell_label 'Origin' %>
          <%= @player.youth? && i == 0 ?
            'YOUTH ACADEMY' :
            contract.party + (contract.loan? ? "(LOAN)" : "") %>
        </td>
        <td>
          <%= responsive_cell_label 'Date' %>
          <%= time_to_s(contract.date_effective) %>    
        </td>
        <td>
          <%= responsive_cell_label 'Transfer Fee' %>
          <%= contract.transfer_cost.fee %>    
        </td>
      </tr>
      <% if contract.transfer_cost.notes.present? %>
        <tr>
          <td colspan=3>
            <%= responsive_cell_label 'Transfer Notes' %>
            <%= contract.transfer_cost.notes %>
          </td>
        </tr>
      <% end %>


      <% if contract.exit_cost.present? %>
        <tr>
          <td class="center aligned"  rowspan="<%= contract.exit_cost.notes.present? ? 2 : 1 %>">
            <i class="red sign out icon"></i>
          </td>
          <td>
            <%= responsive_cell_label 'Destination' %>
            <%= contract.notes.present? ? contract.notes : 'N/A' %>
          </td>
          <td>
            <%= responsive_cell_label 'Date' %>
            <%= time_to_s(contract.date_expires) %>
          </td>
          <td>
            <%= responsive_cell_label 'Transfer Fee' %>
            <%= contract.exit_cost.fee %>
          </td>
        </tr>

        <% if (contract.exit_cost.notes.present? rescue false) %>
          <tr>
            <td colspan=3>
              <%= responsive_cell_label 'Transfer Notes' %>
              <%= contract.exit_cost.notes %>
            </td>
          </tr>
        <% end %>

      <% end %>
    <% end %>
  </tbody>
</table>