<style>
  .ui.dropdown .menu > a.item.disabled { display: none }
</style>

<%= form_for(@match, as: :match, remote: true, html: { class: 'ui small fluid form' }) do |f| %>
  <%= f.hidden_field :motm_id %>

  <%= render 'match_fields', f: f %>

  <div class="ui olive raised segment">
    <% if @match.id.blank? %>
      <div class="field">
        <%= f.select :squad_id, 
          options_for_select(@team.squads.map{ |s| [s.squad_name, s.id] }), 
          { include_blank: 'Squad' }, 
          { class: 'fluid dropdown' } %>
      </div>
    <% end %>
    
    <table id="records-table" class="ui very compact table">
      <thead>
        <tr>
          <th class="one wide"></th>
          <th class="five wide">Player</th>
          <th class="center aligned">OVR</th>
          <th class="center aligned">Rating</th>
          <th class="center aligned">Goals</th>
          <th class="center aligned">Assists</th>
          <th class="center aligned"></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :player_records, @match.player_records do |r| %>
          <%= render 'record_fields', f: r, num_sub: 0, player_is_sub: false %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="ui horizontal divider"></div>

  <%= f.submit 'Save Match', class: 'ui primary button' %>
  <%= content_tag :button, 'Update Squad', class: 'ui violet button', id: 'update-squad-btn', disabled: true %>
  <%= link_to 'Back', @match, class: 'ui basic button' %>
<% end %>

<% content_for :modal_container do %>
  <%= render 'my_fifa/squads/responsive_modals' %>
<% end %>

<%= render 'form_js' %>