<style>
  select.form-control:not([size]):not([multiple]){ height: auto; }
  #players-table_paginate a { color: black; }
  #players-table {
    min-width: 750px;
  }
  .table-container {
    width: 100%;
    float: left;
    overflow-x: scroll;
  }
</style>

<%= render 'import_csv' %>

<div class="col-sm-12 text-right mb10">
  <%= link_to 'New Player', new_player_path, class: 'btn btn-warning' %>
  <%= content_tag :a, 'Import CSV', class: 'btn btn-primary', id: 'import-csv-btn' %>
</div>

<div class="table-container">
  <table id="players-table" class="table table-sm table-striped table-hover text-center">
    <thead class="thead-inverse">
      <% ['Name', 'Position', '2nd Positions', 'Active?', ''].each do |header| %>
        <th class="text-center"><%= header %></th>
      <% end %>
    </thead>
  </table>  
</div>

<script>
  var playersTable;

  function generateSwitch(){
    $('input[type="checkbox"]').each(function(){
      $(this).bootstrapSwitch({
        onColor: 'primary',
        offColor: 'danger',
        onText: 'Yes',
        offText: 'No'
      });
    });
  }

  $(function(){
    playersTable = $('#players-table').DataTable({
      bSort: false,
      bFilter: false,
      ajax: {
        url: '/cmsk/players',
        // data: function(d){
          // d.inactive = 1
        // }
      },
      columnDefs: [
        { targets: 0, defaultContent: '<input id="name" class="form-control">' },
        { targets: 1, defaultContent: '<%= raw select_tag(:pos, options_for_select(Cmsk::Player.positions), class: 'pos form-control').gsub(/\n/, '<br>') %>' },
        { targets: 2, defaultContent: '<input id="sec_pos" class="form-control">' },
        { targets: 3, defaultContent: '<input id="active" type="checkbox">' },
        { targets: 4, defaultContent: '<a class="btn btn-primary update-player-btn">Update</a>'}
      ],
      createdRow: function(row, data, dataIndex){
        $('#name', $(row)).val(data.name);
        $('#pos', $(row)).val(data.pos);
        $('#sec_pos', $(row)).val(data.sec_pos);
        $('#active', $(row)).bootstrapSwitch('state', data.active);
        $(row).data('player-id', data.id);
      },
      drawCallback: function(){
        generateSwitch();
      }
    });

    $('#players-table').on('click', '.update-player-btn', function(){
      var tr = $(this).closest('tr')      
      var name = $('#name', tr).val();
      var pos = $('#pos', tr).val();
      var sec_pos = $('#sec_pos', tr).val();
      var active = $('#active', tr).prop('checked');
      
      if (!name)
        swal('Invalid Update', "A Player's Name can't be Blank.", 'error');
      else{
        $.ajax({
          type: 'PUT',
          url: '/cmsk/players/'+tr.data('player-id'),
          beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>') },
          data: { player: {
              name:    name,
              pos:     pos,
              sec_pos: sec_pos,
              active,  active
          }},
          success: function(data, status){
            swal({
              title: data.header,
              text: data.message,
              type: data.status,
              allowOutsideClick: false
            }).then(function(){
              playersTable.ajax.reload(null, false);
            }).catch(swal.noop);
          }
        })
      }
    })
  });
</script>