<style>
  select.form-control:not([size]):not([multiple]){ height: auto; }
  #players-table_paginate a { color: black; }
  #players-table {
    min-width: 750px;
  }
  .table-container {
    width: 100%;
    float: left;
    overflow-x: scroll;
  }
</style>

<%= render 'import_csv' %>

<div class="col-sm-12 text-right mb10">
  <%= link_to 'New Player', new_player_path, class: 'button button-raised button-highlight' %>
  <%= content_tag :a, 'Import CSV', class: 'button button-raised button-action', id: 'import-csv-btn' %>
</div>

<div class="table-container">
  <form>
    <table id="players-table" class="table table-sm table-striped table-hover text-center">
      <thead class="thead-inverse">
        <% ['Name', 'Position', '2nd Positions', 'Active?', ''].each do |header| %>
          <th class="text-center"><%= header %></th>
        <% end %>
      </thead>
    </table>  
  </form>
</div>

<script>
  var playersTable;

  function generateSwitch(){
    $('input[type="checkbox"]').each(function(){
      $(this).data('dfOrig', $(this).prop('checked'));
      $(this).bootstrapSwitch({
        onColor: 'primary',
        offColor: 'danger',
        onText: 'Yes',
        offText: 'No'
      });
    });
  }

  $(function(){
    playersTable = $('#players-table').DataTable({
      bSort: false,
      bFilter: false,
      ajax: {
        url: '/cmsk/players',
        // data: function(d){
          // d.inactive = 1
        // }
      },
      columnDefs: [
        { targets: 0, defaultContent: '<input id="name" class="form-control">' },
        { targets: 1, defaultContent: '<%= raw select_tag(:pos, options_for_select(Cmsk::Player.positions), class: 'pos form-control').gsub(/\n/, '<br>') %>' },
        { targets: 2, defaultContent: '<input id="sec_pos" class="form-control">' },
        { targets: 3, defaultContent: '<input id="active" type="checkbox">' },
        { targets: 4, defaultContent: '<button class="button button-raised button-small button-block button-primary update-player-btn" disabled>Update</button>'}
      ],
      createdRow: function(row, data, dataIndex){
        $('#name', $(row)).val(data.name);
        $('#pos', $(row)).val(data.pos);
        $('#sec_pos', $(row)).val(data.sec_pos);
        $('#active', $(row)).bootstrapSwitch('state', data.active);
        $(row).data('player-id', data.id);
      },
      drawCallback: function(){
        generateSwitch();
      }
    });

    $('#players-table').on({
      input: function(){ triggerField(this); },
      'switchChange.bootstrapSwitch': function(){ triggerField(this); },
    }, 'input, select');

    $('#players-table').on('click', '.update-player-btn', function(){
      var tr = $(this).closest('tr')      
      var name = $('#name', tr).val();
      var pos = $('#pos', tr).val();
      var sec_pos = $('#sec_pos', tr).val();
      var active = $('#active', tr).prop('checked');
      
      if (!name)
        swal('Invalid Update', "A Player's Name can't be Blank.", 'error');
      else{
        $.ajax({
          type: 'PUT',
          url: '/cmsk/players/'+tr.data('player-id'),
          beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>') },
          data: { player: {
              name:    name,
              pos:     pos,
              sec_pos: sec_pos,
              active,  active
          }},
          success: function(data, status){
            playersTable.ajax.reload(null, false);
          }
        })
      }

      return false;
    })
  });

  function triggerField(target){
    var tr = $(target).closest('tr');

    var value = $(target).attr('type') == 'checkbox' ?
      $(target).prop('checked') :
      $(target).val();

    value != $(target).data('dfOrig') ?
      $(target).addClass('dirty') :
      $(target).removeClass('dirty');

    $('.update-player-btn', tr).prop('disabled', $('.dirty', tr).length == 0);      
  }
</script>