<style>
  .form-control{ width: auto; }
  select.form-control:not([size]):not([multiple]){ height: auto; }
  #players-table_paginate a { color: black; }
</style>

<script>
  function generateSwitch(){
    $('input[type="checkbox"]').each(function(){
      $(this).bootstrapSwitch({
        onColor: 'primary',
        offColor: 'danger',
        onText: 'Yes',
        offText: 'No'
      });
    });
  }

  $(function(){
    $('#players-table').DataTable({
      bSort: false,
      bFilter: false
    });
    generateSwitch();
    $('#players-table').on( 'draw.dt', function () {
      generateSwitch();
    });

    $('.update-player-btn').click(function(){
      var id = $(this).closest('tr').data('player-id');
      
      var name = $('#name_'+id).val();
      var pos = $('#pos_'+id).val();
      var sec_pos = $('#sec_pos_'+id).val();
      var active = $('#active_'+id).prop('checked');
      
      if (!name)
        swal('Invalid Update', "A Player's Name can't be Blank.", 'error');
      else{
        $.ajax({
          type: 'POST',
          url: '<%= cmsk.update_json_players_path %>',
          beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>') },
          data: {
            id:      id,
            player: {
              name:    name,
              pos:     pos,
              sec_pos: sec_pos,
              active,  active
            }
          },
          success: function(data, status){
            swal({
              title: data.header, 
              text: data.message, 
              type: data.status,
              allowOutsideClick: false
            }).then(function(){
              if (data.status == 'error')
                window.location.reload(true);
            }).catch(swal.noop);
          }
        })
      }
    })
    
    $('.copy-btn').click(function(){
      swal({
        title: '<%= @team.team_name %> Players - Names',
        input: 'textarea',
        inputValue: $('#copy-table').html(),
        inputAttributes: {
          readonly: true,
        },
        onOpen: function(){
          $('.swal2-textarea').mousedown(function(){
            $(this).select();
          });
        }
      }).catch(swal.noop);
    });
    

  });
</script>

<%= render 'import_csv' %>

<div class="col-sm-12 text-sm-right mb10">
  <%= link_to 'New Player', new_player_path, class: 'btn btn-warning' %>
  <%= content_tag :a, 'Import CSV', class: 'btn btn-primary', id: 'import-csv-btn' %>
  <%= content_tag :a, 'Copy Names and Position to Excel', class: 'btn btn-info copy-btn' %>
</div>

<table id="players-table" class="table table-sm table-striped table-hover table-bordered text-xs-center">
  <thead class="thead-inverse">
    <tr>
      <% ['Name', 'Position', '2nd Positions', 'Active?', ''].each do |header| %>
        <th class="text-xs-center"><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (@players+@inactive_players).each do |player| %>
      <tr data-player-id=<%= player.id %>>
        <td><%= text_field_tag "name_#{player.id}", player.name, class: 'form-control' %></td>
        <td><%= select_tag "pos_#{player.id}", options_for_select(Cmsk::Player.positions, player.pos), class: 'form-control' %></td>
        <td><%= text_field_tag "sec_pos_#{player.id}", player.sec_pos, class: 'form-control' %></td>
        <td><%= check_box_tag "active_#{player.id}", 1, player.active %></td>
        <td><a class='btn btn-primary update-player-btn' style="color:white">Update</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="copy-table" class="hidden-xs-up">
  <table>
    <% @players.each do |player| %>
      <tr>
        <td colspan="5"><%= player.name %></td>
        <td><%= player.pos %></td>
      </tr>
    <% end %>
  </table>
</div>