<div class="ui olive raised segment">
  <div class="ui grid">
    <!-- Row -->
    <div class="four column stackable centered row">
      <div class="six wide column required field" no-empty>
        <%= f.label :competition, 'Competition' %>
        <%= f.select :competition, 
          options_for_select(@team.competitions, @fixture.competition), 
          {prompt: true}, 
          {class: 'fluid dropdown', tabindex: 2} %>
      </div>
      <div class="six wide column required field" no-empty>
          <%= f.label :opponent, 'Opponent Team' %>
          <%= f.text_field :opponent, tabindex: 1 %>
      </div>
    </div>
    <div class="four column stackable centered row">
      <div class="six wide column required field" no-empty>
        <%= f.label :date_played, 'Date Played' %>
        <%= f.text_field :date_played %>
      </div>
      <% if @fixture.id.blank? %>
        <div class="six wide column required field">
          <%= label_tag :squad %>
          <%= select_tag :squad, options_for_select(@team.squads.map{ |s| [s.squad_name, s.id] }), include_blank: true, class: 'fluid dropdown' %>
        </div>
      <% end %>
    </div>

    <div class="five column centered row">
      <div class="four wide column field" no-empty>
        <%= f.text_field :score_f, 
          data: { inputmask: "'mask': '9{+}[ (9{+})]', 'greedy': false" } %>
      </div>
      <div class="ui four wide center aligned column">
        <label>GF - GA</label>
      </div>
      <div class="four wide column field" no-empty>
        <%= f.text_field :score_a, 
          data: { inputmask: "'mask': '9{+}[ (9{+})]', 'greedy': false" } %>
      </div>
    </div>
    
  </div>
</div>