<style>
  .ui.dropdown .menu > a.item[data-action="no remove"] { display: none }
</style>

<%= form_for(@fixture, as: :fixture, remote: true, html: { class: 'ui small fluid form' }) do |f| %>
  <%= f.hidden_field :fixture_id %>
  <%= f.hidden_field :motm_id %>

  <%= render 'fixture_fields', f: f %>

  <div class="ui teal raised segment">
    <% if @fixture.id.blank? %>
      <div class="field">
        <%= f.select :squad_id, 
          options_for_select(@team.squads.map{ |s| [s.squad_name, s.id] }), 
          { include_blank: 'Squad' }, 
          { class: 'fluid dropdown' } %>
      </div>
    <% end %>
    
    <table id="records-table" class="ui very compact table">
      <thead>
        <tr>
          <th class="one wide"></th>
          <th class="five wide">Player</th>
          <th class="center aligned">OVR</th>
          <th class="center aligned">Rating</th>
          <th class="center aligned">Goals</th>
          <th class="center aligned">Assists</th>
          <th class="center aligned"></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :player_records, @fixture.player_records do |r| %>
          <%= render 'record_fields', f: r, num_sub: 0, player_is_sub: false %>
        <% end %>
      </tbody>
    </table>

    <!--<div class="ui grid">-->
    <!--  <div class="three column centered row">-->
    <!--    <div class="eight wide aligned center column">-->
    <!--      <div class="ui fluid buttons">-->
    <!--        <a class="ui teal button" id="add-sub-btn"><i class="plus icon"></i> SUB</a>-->
    <!--        <div class="or"></div>-->
    <!--        <a class="ui orange button" id="remove-sub-btn"><i class="minus icon"></i> SUB</a>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

  </div>

  <div class="ui horizontal divider"></div>

  <%= f.submit 'Save Fixture', class: 'ui primary button' %>
  <%= content_tag :button, 'Update Squad', class: 'ui violet button', id: 'update-squad-btn', disabled: true %>
  <%= link_to 'Back', @fixture, class: 'ui basic button' %>
<% end %>

<%= render 'form_js' %>