<%= form_for(@fixture, as: :fixture, remote: true, html: { class: 'ui small fluid form' }) do |f| %>
  <%= f.hidden_field :fixture_id %>
  <%= f.hidden_field :motm_id %>

  <%= render 'fixture_fields', f: f %>

  <div class="ui teal raised segment">
    <table id="records-table" class="ui very compact table">
      <thead>
        <tr>
          <th class="one wide"></th>
          <th class="six wide">Player</th>
          <th class="center aligned">OVR</th>
          <th class="center aligned">Rating</th>
          <th class="center aligned">Goals</th>
          <th class="center aligned">Assists</th>
        </tr>
      </thead>
      <tbody>
        <% @fixture.player_records.each_with_index do |record, i| %>
          <%= f.fields_for :player_records, record do |r| %>
            <tr><%= render 'record_fields', f: r, i: i+3 %></tr>
          <% end %>
        <% end %>

        <tr id="template">
          <%= f.fields_for :player_records, MyFifa::PlayerRecord.new do |r| %>
            <%= render 'record_fields', f: r, i: 1000 %>
          <% end %>
        </tr>
      </tbody>
    </table>

    <div class="ui grid">
      <div class="three column centered row">
        <div class="eight wide aligned center column">
          <div class="ui fluid buttons">
            <a class="ui teal button" id="add-sub-btn"><i class="plus icon"></i> SUB</a>
            <div class="or"></div>
            <a class="ui orange button" id="remove-sub-btn"><i class="minus icon"></i> SUB</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui horizontal divider"></div>

  <%= f.submit 'Save Fixture', class: 'ui primary button' %>
  <%= content_tag :button, 'Update Squad', class: 'ui violet button', id: 'update-squad-btn', disabled: true %>
  <%= link_to 'Back', @fixture, class: 'ui basic button' %>
<% end %>

<script type="text/javascript">
  <%= render 'form.js' %>
</script>