<td>
  <%= f.hidden_field :pos %>
  <div class="pos ui ribbon <%= 'yellow' if f.object.id.present? && f.object.player_id == @fixture.motm_id %> label"><%= f.object.pos %></div>
</td>
<td>
  <div class="field" no-empty>
    <div class="ui responsive horizontal basic label">Player</div>
    <%= f.select :player_id, 
      grouped_options_for_select(@grouped_players, f.object.player_id), 
      {include_blank: true}, 
      {class: 'player_id players fluid dropdown'} %>
  </div>
</td>
<td>
  <div class="field" no-empty>
    <div class="ui responsive horizontal basic label">OVR</div>
    <%= f.number_field :ovr, class: 'ovr', min: 0 %>    
  </div>
</td>
<td>
  <div class="field" no-empty>
    <div class="ui responsive horizontal basic label">Rating</div>
    <%= f.number_field :rating, class: 'rating', step: 0.01, min: 0, tabindex: i %>
  </div>
</td>
<td>
  <div class="ui responsive horizontal basic label">Goals</div>
  <%= f.number_field :goals, class: 'goals click-form', min: 0, readonly: true %>
</td>
<td>
  <div class="ui responsive horizontal basic label">Assists</div>
  <%= f.number_field :assists, class: 'assists click-form', min: 0, readonly: true %>
</td>