<tr data-id=<%= f.object.id %>>
  <td>
    <%= f.hidden_field(:_destroy) if player_is_sub %>
    <%= f.hidden_field(:record_id) if player_is_sub %>
    <%= f.hidden_field :pos %>
    <div class="pos ui ribbon <%= 'yellow' if f.object.id.present? && f.object.player_id == @fixture.motm_id %> label">
      <span><%= f.object.pos %></span>
      <% num_sub.times do |i| %>
        <i class="green level up icon" style="visibility:<%= i == num_sub-1 ? 'visible' : 'hidden' %>"></i>
      <% end %>
      <% if f.object.sub_record.present? %>
        <i class="red level down icon"></i>
      <% end %>
    </div>
  </td>
  <td>
    <div class="field" no-empty>
      <div class="ui responsive horizontal basic label">Player</div>
      <%= f.select :player_id,
        grouped_options_for_select(@grouped_players, f.object.player_id), 
        {include_blank: true},
        {class: 'player_id players fluid dropdown'} %>
    </div>
  </td>
  <td>
    <div class="field" no-empty>
      <div class="ui responsive horizontal basic label">OVR</div>
      <%= f.number_field :ovr, class: 'ovr', min: 0, tabindex: 500 %>
    </div>
  </td>
  <td>
    <div class="field" no-empty>
      <div class="ui responsive horizontal basic label">Rating</div>
      <%= f.number_field :rating, class: 'rating', step: 0.01, min: 0, tabindex: 1000 %>
    </div>
  </td>
  <td>
    <div class="ui responsive horizontal basic label">Goals</div>
    <%= f.number_field :goals, class: 'goals click-form', min: 0, readonly: true %>
  </td>
  <td>
    <div class="ui responsive horizontal basic label">Assists</div>
    <%= f.number_field :assists, class: 'assists click-form', min: 0, readonly: true %>
  </td>
  <td>
    <div class="ui left pointing dropdown circular teal icon button">
      <i class="settings icon"></i>
      <div class="fluid menu">
        <a data-action="add-sub" class="<%= 'disabled' if f.object.sub_record.present? %> item">
          <i class="level down red icon"></i> Substitute
        </a>
        <a data-action="injury" class="item">
          <i class="emergency red icon"></i> Injured
        </a>
        <a data-action="booking" class="item">
          <i class=" square yellow icon"></i> Booking
        </a>
        <a data-action="<%= 'no ' unless player_is_sub %>remove" class="item">
          <i class=" remove icon"></i> Remove
        </a>
      </div>
    </div>
  </td>
</tr>

<% if (sub_record = f.object.sub_record).present? %>
  <%= f.fields_for :sub_record do |sub_f| %>
    <%= render 'record_fields', f: sub_f, num_sub: num_sub+1, player_is_sub: true %>
  <% end %>
<% end %>