<% content_for :page_links do %>
  <%= link_to 'Edit', edit_my_fifa_fixture_path(@fixture), class: 'ui orange button' %>
  <%= link_to 'Save Stats', my_fifa_fixture_path(@fixture, format: :xlsx), class: 'ui primary button' %>
  <%= link_to 'Back', my_fifa_fixtures_path, class: 'ui basic button' %>
<% end %>

<div class="ui olive raised segment" >
  <h2 class="ui center aligned dividing icon header">
    <i class="trophy icon"></i>
    <%= @fixture.competition %>    
    <div class="sub header"><%= time_to_string(@fixture.date_played, "%B %e, %Y") %></div>
  </h2>
  <h4 class="ui center aligned header"><%= @team.team_name %> v <%= @fixture.opponent %>
    <div class="ui center aligned sub header"><%= @fixture.score %></div>
  </h4>
</div>

<div class="ui teal raised segment">
  <div class="panel-body">
    <table class="ui table">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th class="six wide">Name</th>
          <th>Rating</th>
          <th>Goals</th>
          <th>Assists</th>
        </tr>
      </thead>
      <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>
            <div class="ui <%= 'yellow' if record.motm? %> ribbon label">
              <%= record.pos %>  
            </div>
          </td>
          <td><%= record.player_name %></td>
          <td>
            <%= content_tag(:i, nil, class: 'soccer icon') if record.motm? %>
            <%= record.rating %>    
          </td>
          <td><%= record.goals %></td>
          <td><%= record.assists %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>