<% content_for :module_css do %>
  /* Top Nav Menu */
  body > .ui.inverted.menu .dropdown.item:hover, 
  body > .ui.inverted.menu .link.item:hover, 
  body > .ui.inverted.menu a.item:hover, 
  body > .ui.link.inverted.menu .item:hover {
    background-color: teal;
  }

  .dropdown.players .header { color: red !important; }
  <%= yield :page_css %>
<% end %>

<% content_for :system_header do %>
  <h1 class="ui teal header">
    <i class="soccer icon"></i>
    <div class="content">
      MyFIFA Manager
      <div class="sub header"><%= @team.team_name rescue nil %></div>
    </div>
  </h1>

  <div class="ui fluid three item menu">
    <!-- Squad Hub Menu -->
    <div class="ui up pointing dropdown item">
      Squad Hub
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Players</div>
        <div class="divider"></div>
        <%= link_to(my_fifa_players_path, class: 'item') do %>
          <i class="address book icon"></i>
          Player List
        <% end %>
        <%= link_to(new_my_fifa_player_path, class: 'item') do %>
          <i class="add user icon"></i>
          Sign New Player
        <% end %>
        <div class="divider"></div>
        <%= link_to(my_fifa_squads_path, class: 'item') do %>
          <i class="dashboard icon"></i>
          Manage Squads
        <% end %>
      </div>
    </div>

    <!-- Records Menu -->
    <div class="ui up pointing dropdown item">
      Records
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Fixtures</div>
        <div class="divider"></div>
        <%= link_to(my_fifa_fixtures_path, class: 'item') do  %>
          <i class="archive icon"></i>
          Archive
        <% end %>
        <%= link_to(new_my_fifa_fixture_path, class: 'item') do %>
          <i class="soccer icon"></i>
          New Fixture
        <% end %>
      </div>
    </div>

    <!-- Analytics Menu -->
    <div class="ui up pointing dropdown item">
      Analytics
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Statistics</div>
        <div class="divider"></div>
        <%= link_to(players_my_fifa_analytics_path, class: 'item') do %>
          <i class="pie chart icon"></i>
          Individual
        <% end %>
        <%= link_to('#', class: 'item') do %>
          <i class="users icon"></i>
          Team
        <% end %>
        <div class="divider"></div>
        <%= link_to('#', class: 'item') do %>
          <i class="exchange icon"></i>
          Compare Players
        <% end %>
      </div>
    </div>
  </div>
  
  <h2 class="ui violet dividing header">
    <%= @title %>
  </h2>
<% end %>

<%= render file: 'layouts/application' %>