<style>
  .table-container { overflow-x: scroll; }
  .table { min-width: 550px; }
  tr.inactive { background-color: #f4d5d5 !important; }
</style>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">Search Analytics</div>
    </div>
    <div class="panel-body">
      <%= form_tag search_analytics_path do %>
        <div class="form-group row">
          <%= label_tag :season, 'Season: ', class: 'col-xs-4 control-label' %>
          <div class="col-xs-8">
            <%= select_tag :season, options_for_select(@team.season_options, params[:season]), include_blank: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= label_tag :competition, 'Competition: ', class: 'col-xs-4 control-label' %>
          <div class="col-xs-8">
            <%= select_tag :competition, options_for_select(@team.recorded_competitions, params[:competition]), include_blank: true, class: 'form-control' %>
          </div>
        </div>
      
        <div class="text-right col-xs-12">
          <%= submit_tag 'Search', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="table-container col-md-8">
  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <% ['Name', 'Position', 'GP', 'Rating', 'Goals', 'Assists', 'CS'].each do |header| %>
        <th><%= header %></th>
      <% end %>
    </thead>
  </table>
</div>

<script>
  var table;

  $(function(){
    table = $('table').DataTable({
      order: [[3, "desc"]],
      ajax: {
        url: '/cmsk/analytics',
        data: function(d){
          d.season = $('select#season').val();
          d.competition = $('select#competition').val();
        }
      },
      processing: true,
      columns: [
        { data: 'name' },
        { data: 'pos' },
        { data: 'gp' },
        { 
          data: 'rating',
          render: $.fn.dataTable.render.number(',', '.', '2')
        },
        { data: 'goals' },
        { data: 'assists' },
        { data: 'cs' },
      ],
      rowCallback: function(nRow, aData){
        if (!aData.active){
          $(nRow).addClass('inactive')
        }
      }
    });

    $('#season, #competition').change(function(){
      table.ajax.reload(null, false);
    })
  });
</script>