<script>
  function checkForm(){
    if (!$('#team_team_name').val())
      return error_alert('Please enter a Team Name.')
    else
      return true;
  }
</script>

<%= form_for(@team) do |f| %>
  <div class="form-group row">
    <%= f.label :team_name, 'Name: ', class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :team_name, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="text-xs-center">
    <%= f.submit 'Save Team', class: 'button button-raised button-highlight', onclick: 'return checkForm()' %>
    <%= link_to 'Back', teams_path, class: 'button button-raised' %>
  </div>
<% end %>
