<%= form_for(@formation, as: :formation, remote: true, html: { class: 'ui fluid form' }) do |f| %>
  <div class="ui grid">
    <div class="two column stackable row">
        <div class="required field column" no-empty>
          <%= f.label :title, 'Title' %>
          <%= f.text_field :title %>
        </div>
        <div class="required field column" no-empty>
          <%= f.label :layout, 'Layout' %>
          <%= f.select :layout,
            options_for_select(MyFifa::Formation::LAYOUTS, @formation.layout),
            { include_blank: false },
            { class: 'fluid dropdown' } %>
        </div>
    </div>
  </div>

  <div class="ui raised green segment">
    <div id="positions-container" style="display:none!important">
      <% (2..11).each do |no| %>
        <%= render 'position_field', f: f, no: no %>
      <% end %>
    </div>

    <div class="ui mobile reversed stackable grid">
      <!-- GK row -->
      <div class="three columns centered row">
        <%= render 'position_field', f: f, no: 1 %>
      </div>
    </div>
  </div>

  <%= f.submit 'Save Formation', class: 'ui primary button' %>
  <%= link_to 'Back', my_fifa_formations_path, class: 'ui basic button' %>
<% end %>

<%= render 'form_js' %>

<% content_for :modal_container do %>
  <%= render 'responsive_modals' %>
<% end %>