<% content_for :page_links do %>
  <%= link_to 'New Formation', new_my_fifa_formation_path, class: 'ui basic primary button' %>
<% end %>

<table class="ui basic definition selectable compact small table" data-link="/my_fifa/formations/" width="100%">
  <thead>
    <th>Active</th>
    <th>Title</th>
    <th class="ten wide">Positions</th>
  </thead>

  <tbody>
    <% @formations.each do |formation| %>
      <tr data-id=<%= formation.id %>>
        <td class="center aligned" no-link>
          <div class="ui fitted slider checkbox">
            <%= radio_button_tag :set_formation, formation.id, current_user.formation_id == formation.id %>
            <label></label>
          </div>
        </td>
        <td>
          <%= responsive_cell_label 'Title' %>
          <%= "#{formation.title} (#{formation.layout})" %>
        </td>
        <td>
          <%= responsive_cell_label 'Positions' %>
          <%= formation.positions.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('.ui.checkbox').checkbox({
      uncheckable: false,
      onChecked: function(){
        var this_ = this;
        $.ajax({
          type: 'POST',
          url: '/my_fifa/formations/'+this_.value+'/set_active',
          beforeSend: function(xhr){ xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>') },
        });
      }
    })
  })
</script>