<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'JoonDEV' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag 'favicon.ico' %>
  <style>
    <%= yield :module_css %>
  </style>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <% unless current_user # Login/Registration Pages %>

    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <%= yield %>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  <% else %>

    <div class="ui fixed huge inverted fluid menu">
        <a class="header image item toggle button">
          <i class="sidebar icon"></i>
          JoonDEV
        </a>
        <%= module_item %>
        <div class="right menu">
          <%= link_to content_tag(:i, nil, class: 'edit icon'), edit_user_registration_path, class: 'ui item', title: 'Manage Account' %>
          <%= link_to content_tag(:i, nil, class: 'sign out icon'), destroy_user_session_path, method: :delete, class: 'ui item', title: 'Sign Out' %>
        </div>
    </div>

    <div class="ui left massive vertical sidebar inverted menu">
      <%= render 'my_fifa/shared/menu' %>
    </div>

    <div class="pusher">
      <div class="ui main text container">
        <%= yield :system_header %>

        <% if content_for? :page_links %>
          <div class="ui text fluid menu">
            <%= yield :page_links %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  <% end %>
</body>
</html>
