<!DOCTYPE html>
<html>
<head>
  <title>JoonDEV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>
<body>
  <% if current_user %>

    <%= render 'shared/navbar' %>
  
    <div class="ui main text container">
      <%= yield %>
    </div>

  <% else # Login/Registration Pages %>

    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <%= yield %>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  <% end %>
</body>
</html>
