<!DOCTYPE html>
<html>
<head>
  <title>JoonDEV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <style>
    body {
      background: #c2d6d6;
      background: linear-gradient(150deg, #c2d6d6, #99b3ff);
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    @media (min-width: 576px){ .container{ min-width: 540px; width: 95%; } }
    @media (min-width: 768px){ .container{ min-width: 760px; width: 95%; } }
    @media (min-width: 992px){ .container{ min-width: 960px; width: 95%; } }
    
    *:not(.swal2-icon):not(.placeholder):not(.swal2-confirm):not(.flatpickr-day) {
      font-family: 'Crimson Text', serif;
      border-radius: 0px;
    }
    .glyphicon{ font-size: 1.3em; }
    .mt10 { margin-top: 10px; }
    .mb10 { margin-bottom: 10px; }
    .main-brand {
      font-size: 24px;
      color: #527a7a !important;
      text-shadow: 1px 1px 1px black;
    }
    .page-header{ border-bottom: 1px solid #527a7a; margin-top: 0px; }
    #cmsk-content a:not(.btn-default) { color:white; }
    .control-label { text-align: left; padding-top: 7px; }
  </style>
</head>
<body>
  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= @page %></div>
      <div class="panel-body">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
